<div class="header-container">
  <img src="https://cdn-icons-png.flaticon.com/512/1782/1782873.png" width="20px" height="20px">
  <h4>貴賓{{ memberName }}，您好</h4>
  <h3>問卷查詢：</h3>
  <input class="search-input" (keyup)="applyFilter($event)" placeholder="輸入名稱或狀態..." #input>
  <!-- <mat-form-field>是 Angular Material 的標準表單包裝器

<mat-label>顯示在輸入框上方的文字標題「選擇日期範圍」

<mat-date-range-input>這個輸入框要跟下面那個名牌叫 #picker 的日期彈窗連動。

(dateChange)="applyDateFilter(...)"：這是一個事件監聽。當使用者選好結束日期後，立刻執行 applyDateFilter 這個函式，並把開始和結束日期的值傳進去 -->
  <mat-form-field>
    <mat-label>選擇日期範圍</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="開始日期" #startDate>
      <input matEndDate placeholder="結束日期" #endDate (dateChange)="applyDateFilter(startDate.value, endDate.value)">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>


<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
       class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="quizId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      No.
    </th>
    <td mat-cell *matCellDef="let element"> {{element.quizId}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      title
    </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      description
    </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="status">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>狀態</th>
  <td mat-cell *matCellDef="let element">
    <a [routerLink]="['/survey', element.quizId]"
       routerLinkActive="activeCss">
      {{element.status}}
    </a>
  </td>
</ng-container>

  <!-- Symbol Column -->

  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by start time">
      開始時間
    </th>
    <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by end time">
      結束時間
    </th>
    <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
  </ng-container>

  <ng-container matColumnDef="result">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> 結果 </th>
  <td mat-cell *matCellDef="let element">
    @if (element.result === '前往') {
      <a [routerLink]="['/chart']"
         routerLinkActive="activeCss">
        查看分析圖表
      </a>
    } @else {
      <span>{{element.result}}</span>
    }
  </td>
</ng-container>

<!-- 表格顯示的欄位順序完全由 TypeScript 裡的 displayedColumns 陣列元素順序決定，而不是由 HTML 中定義的順序決定。 -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="選擇問卷分頁">
</mat-paginator>
